body{
    width: 100%;
    height: 100%;
    background-color: #bfe2f0;
    color: rgb(45, 128, 236);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    
}
a{
    color: rgb(45, 128, 236);
}
section div{
    padding-left: 306px;
    padding-top: 50px;
    font-size: 30px;
}
hr{
    width: 1500px;
    height: 1px;
    background-color: rgb(45, 128, 236);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #cbf1ee;
    position: fixed;
    
}

.content {
    width: 30vh;
    height: 100%;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    
}

.nav_box{
    font-size: 30px;
    font-weight: bold;
    margin: 50px;
}
/*----------------------------------------------------*/
#profile{
    padding-top: 200px;
}
.intro{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boodrami{
    width:400px;
    border-radius: 40px;
}

.profile{
    width: 30vw;
    padding-left: 100px;
}

.profile-words{
    margin: 40px;
    font-size: 30px;
    font-weight: 600;
}

/*----------------------------------------------------*/

.middle{
    padding-top: 260px;
}
.hobby{
    padding-top: 70px;
}
.hobby div{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.hobby li{
    margin-left: 150px;
    width: 680px;
}

.hobby img{
    width: 500px;
}

#trip{
    padding-top: 230px;
}
.trip{
    width: 100%;
    padding-top: 70px;
}

.trip_row{
    display:flex;
    justify-content: center;
    align-items: center;
}


.flag{
    width: 400px;
    height: 260px;
    margin: 40px;
}


.copyright{
    font-family:'Courier New', Courier, monospace;
    margin-top: 300px;
    height: 50px;
    background-color:  #cbf1ee;
    text-align: center;
    padding-top: 1.5%;
    font-weight: bold;
}
