/* p{
    color: white; -> 모든 특정 태그에 css style 적용
} */


*,
*:before,
*:after{
    box-sizing: inherit;
}

#first{  /* 특정 id에 css style 적용 (중복 id 불가)*/
    color: blue;
}

.second{ /* 특정 class에 css style 적용 (중복 class 이름 가능)*/
    color: magenta;
}

html{
    box-sizing: border-box;
}

.container {
    width:100%;
    height:100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tmp{
    width: 400px;
    height: 400px;
    background: rgb(203, 132, 132);
    margin: 10px;
    /*padding: 50px;*/
    padding-top: 10px;
    border: 5px solid rgba(134, 68, 240, 0.973);
    font-size: 40px;
    line-height: 20px;
    letter-spacing: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    color:aliceblue;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 16px 13px 9px rgba(0,0,0,0.94); /*google box shadow generator*/
    display: flex;
    justify-content: center;
    align-items: center;
}
